<div id="owner" class="welcome-header">
    <h1>
        שינוי סיסמא של בעל החשבון
    </h1>
</div>
<div class="form-container">
    <div class="form-group">
        <label for="crntpwd">סיסמא נוכחית</label>
        <input required type="password" id="crntpwd" [(ngModel)]="crntPwd" />
    </div>
    <div class="form-group">
        <label for="nwpwd">סיסמא מבוקשת</label>
        <input required type="password" id="nwpwd" [(ngModel)]="nwPwd" />
    </div>
    <div class="form-group">
        <label for="nw2pwd">וידוא סיסמא מבוקשת</label>
        <input required type="password" id="nw2pwd" [(ngModel)]="reNwPwd" />
    </div>
    <button class="submit-btn" (click)="updIt()">שמור שינוי סיסמא</button>

    <a *ngIf="jobDone" class="success-message" routerLink="/AccountLogin">שינוי הסיסמא הצליח! הקש כאן לכניסה מחדש למערכת</a>
</div>
