<div class="imgs">
    <img src="assets/images/MorMarkovich.jpeg">
</div>
<div class="container">
    <br/>
    <br/>
    <label>Name and ID:</label>
    <span>{{name_tz}}</span>
    <br/>
    <br/>
    <label>Year:</label>
    <span>{{year}}</span>
    <br/>
    <br/>
    <label>Course Name:</label>
    <span>{{nameCours}}</span>
    <br/>
    <br/>
    <label>Professors:</label>
    <span>{{nameProfessors}}</span>
    <br/>
    <br/>
    <button routerLink="/AccountLogin">לחץ כדי להיכנס</button>
</div>